

.base-status-icon {
    border-radius: 2px 0px 0px 2px;
    display: block;
    float: left;
    height: 44px;
    width: 44px;
    text-align: center;
    font-size: 22px;
    line-height: 44px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}

.voters-ui-grid {
    width: 100%;
    height: 600px;
}

.col-narrow{
    padding: 0 5px;
}


#pollTime .slider-selection,
#pcBaseTimeout .slider-selection,
#tx_enable_per_sec .slider-selection{
    background: aqua;
}

.btn.btn-dark{
    background-color: #333;
    border-color: black;
    color:white !important;
}


.pc-base-status{
    padding:10px;
    background-color: #555;
}

.pc-base-status.alert{
    background-color: orangered;
}

.box.box-basestation{
    margin-bottom:3px;
}

.box-basestation .box-header{
    padding:3px;
}

.box-basestation .box-header>.box-tools{
    top:0px;
    right:0;
}


.status-on{
    color:green;
}

.status-off{
    color:red;
}

.status-failing{
    color:orange;
}

ul.basestation{
    padding-left:10px;
    list-style: none;
}

ul.basestation li:before{

    font-family: FontAwesome;
    content: "\f096";
    color: black;
    margin-right: 10px;
}

dl.basestation.dl-horizontal{
    margin-bottom:0;
}
dl.basestation.dl-horizontal dt{
    width:50%;
    margin-right:10px;

}
dl.basestation.dl-horizontal dd{
    /*width:50%;*/
    margin-left: 0;
}

div#vip_list{
    height:80px;
    overflow: scroll;
}

div#nonvip_list{
    height:300px;
    overflow: scroll;
}

/* context menu */
div.context-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    width: 250px;
    border: 1px solid rgba(0, 0, 0, .15);
    /*top: 0;*/
    /*left: 0;*/

}

div.context-menu ul.menu-container,
ul.menu-group{
    list-style-type: none;
    padding-left: 0;
}

div.context-menu ul.menu-container{
    padding:0 5px;
}

ul.menu-container li:last-child{
    border-bottom:1px solid lightgray;
}

ul.menu-group:last-child li:last-child{
    border-bottom:0;
}

ul.menu-group li:hover{
    background-color: #3c8dbc;
    color:white;
}
ul.menu-group li:hover a,
ul.menu-group li a:hover{
    color:white;
}

#messageText1, #messageText2, #messageText3, #messageText4{
    font-family: Courier;
    width:auto;
}

.api-result, .logs-box{
    height:500px;
    overflow-y: scroll;;
    background-color: palegoldenrod;
    border: 1px dashed saddlebrown;
}

.logs-box{
    background-color: lightcyan;
}
.api-error{
    color:red;
}

/* logo */
.pull-left.logo{
    display: flex;
    flex-direction: column;
}

.logo .mini{
    height:17px;
}
.logo .micro{
    font-size:12px;
    height:15px;
}

.smallish{
    font-size: 75%;
}

/* fields */

input.ng-invalid {
    background-color:  #fe868a;
    border-color: red;
}

span.multifield{
    xposition:relative;
}
span.multifield label {
    color: red;
    position:absolute;
    margin-left: 80px;
    margin-top: -27px;
    z-index: 2;
}
span.multifield input, input[type="text"], input:focus {
    /*border: none;*/
    /*outline: none;*/
    position: relative;
}

#votersgrid{
   xwidth:600px;
   xheight:500px;
}

.datagrid.cell{

}
.datagrid.cell-wide{
    width:17%;
}
.datagrid.cell-medium{
    width:10%;
}
.datagrid.cell-drop{
    width:6%;
}

.nav-tabs{
    width:100%;
}

.nav-tabs> li > a {
    background: #ddd;
}

.nav-tabs li{
    width:150px;
}

.nav-tabs li.form{
    width:300px;
}

.canvas_container{
    width: 100%;
}

.prova{
    background: coral;
}

section.content{
    /*position: absolute;*/
    /*top:50px; !* height of header *!*/
    /*bottom: 0;*/
}
div#dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-auto{
    flex-basis: auto;
}

.flex-grow{
    flex:2;
}

.flex-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.full-height{
    height: 100%;
}

#canvas_container{
    width: 100%;
    height:300px;
    overflow-y: scroll;
    display:flex;
    align-items: center;
    justify-content: center;
}

#canvas, #tvtcanvas{
    background: ghostwhite;
    margin:auto;
}

.margin-top{
    margin-top: 20px;
}

.spinner{

}

.centered{

}