<div class="row">
	<div class="col-md-12"><h1>Logs</h1></div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="box box-solid box-warning xcollapsed-box">
			<div class="box-header">
				<h3 class="box-title">Log file folders</h3>

				<div class="box-tools pull-right">

					<button class="btn btn-dark " ng-disabled="!canSaveConfig()" ng-click="saveConfig()"><i
							class="fa fa-floppy-o fa-fw"></i>Save
					</button>
					<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

				</div><!-- /.box-tools -->
			</div>
			<div class="box-body">
				<form name="formconfig">
					<div class="row col-md-12" ng-if="easyradio.standalone != true">
						<div class="row">
							<div class="col-md-4">
								<label for="admission_folder">Admission file folder</label>
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="log.admission_folder" class="form-control" ng-change="checkFolder(log.admission_folder)" id="admission_folder" ng-class="{'ng-invalid': !isValid(log.admission_folder)}"/> <br />
								<span ng-if="log.admission_filename">{$ log.admission_filename $}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="voting_folder">Votes file folder</label>
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="log.voting_folder" class="form-control" ng-change="checkFolder(log.voting_folder)" id="voting_folder" ng-class="{'ng-invalid': !isValid(log.voting_folder)}" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div >
			<pre class="logs-box" class="logs"  >{$ logs  $}</pre>
		</div>
	</div>
</div>
