<div class="pc-base-status" ng-class="{alert: problemInStations()}">
    <div class="box box-basestation box-osolid collapsed-box" ng-repeat="base in baseStations" base-index="{$ base.index $}">
		<div class="box-header">
			<div class="box-title"  >
				<i class="fa fa-square" ng-class="getClass(base,'BASE')" ></i>
					<span class="smallish">{$ base.host $}</span>:{$ base.channel $}
			</div>

			<div class="box-tools pull-right">
				<i class="fa fa-server" ng-class="getClass(base,'system')"></i><!-- system -->
				<i class="fa  " ng-class="getClass(base,'sbattery')"></i><!-- serial -->
				<i class="fa fa-wifi" ng-class="getClass(base,'antenna')"></i><!-- antenna -->
				<button class="btn btn-box-tool pcbase-collapse" data-widget="collapse"><i class="fa fa-plus"></i></button>
			</div><!-- /.box-tools -->
		</div>
		<div class="box-body pcbase-collapsible">
			<dl class="basestation dl-horizontal">
				<dt>Version:</dt>
				<dd class="xpull-right" ng-class="getClass(base,'compatibility')">v {$ base.info.version $} | {$ base.info.build_version $}</dd>
				
				<dt>Firmware:</dt>
				<dd class="xpull-right" ng-class="getClass(base,'compatibility')">{$ base.info.firmware_version $}</dd>
				
				<dt>Power:</dt>
				<dd>{$ base.info.power_supply $}</dd>

				<dt>Battery:</dt>
				<dd><i class="fa" ng-class="getClass(base,'battery')"></i>&nbsp;{$ base.info.battery_charge $}%</dd>

				<dt>Voting mode:</dt>
				<dd><i class="cpull-right">{$ base.info.voting_mode $}</i></dd>

				<dt>Televoters</dt>
				<dd>{$base.num_active$}/{$ base.num_tvts $}</dd>
			</dl>
		</div>
	</div>
</div>