<div class="row">
	<div class="col-md-12">
		<div class="box box-solid box-warning collapsed-box">
			<div class="box-header">
				<h3 class="box-title">Commands for base Stations</h3>

				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
				</div><!-- /.box-tools -->
			</div>
			<div class="box-body">

				<div class="row form-group">
					<div class="col-md-3">
						<button class="btn form-control btn-warning" ng-disabled="true" ng-click="restartLocked()">Restart locked
						(DA IMPL)</button>
					</div>
					<div class="col-md-4">
						<button class="btn form-control btn-warning" ng-click="sendBroadcastMaps()">Send
							broadcast maps
						</button>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<button class="btn btn-success form-control" ng-disabled="!oneSelected()"
						        ng-click="baseOn()">Base ON
						</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-danger form-control" ng-disabled="!oneSelected()"
						        ng-click="baseOff()">Base
							OFF
						</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-warning form-control" ng-disabled="!oneSelected()"
						        ng-click="restartBase()">
							Restart BASE
						</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-warning form-control fa fa-refresh" ng-disabled="!twoSelectedAndOneIdle()"
						        ng-click="swapBase()">Swap Base from idle
						</button>

					</div>
					<div class="col-md-3">
						<button class="btn btn-warning form-control" ng-disabled="!oneSelected()"
						        ng-click="loadMapInBase()">
							Load
							Tvt map in base PCBase
						</button>

					</div>

				</div>

			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div><!-- /.col -->
</div>
<div class="row">
	<div class="col-md-12">
	<!--AngularJS SPA CRUD table-->
	<table class="table table-condensed table-hover table-striped" ng-hide="loading">
		<!-- Header-->
		<tr class="panel-title"  >
			<!-- checkbox -->
			<th><input type="checkbox" icheck ng-model="allSelected" ng-change="selectAll(allSelected)" ng-if="knownItems.length>0"/></th>
			<!--Buttons column-->
			<th style="width: 175px;">
				<!--Add + Cancel-->
				<div class="btn-toolbar">
					<div class="btn-group">
						<i class="btn glyphicon glyphicon-plus" ng-click="toggleAddMode()" title="Add" ng-if="!addMode"></i>
						<i class="btn glyphicon glyphicon-minus" ng-click="toggleAddMode()" title="Cancel" ng-if="addMode"></i>
						<i class="btn glyphicon glyphicon-floppy-disk" ng-if="modified" ng-click="saveAllItems()" title="Save All Data"  ></i>
					</div>
				</div>
			</th>
			<!-- Content columns-->
			<th ng-repeat="attribute in pcBase.labelsExcept(['_selected','order'])"
			    ng-class="{datagrid:true,cell:true, 'cell-medium':pcBase.isWiderDropdown(attribute), 'cell-drop':pcBase.isDropdown(attribute), 'cell-wide':pcBase.isAttributeWide(attribute),'xcell':!pcBase.isAttributeWide(attribute), }" style="vertical-align:middle">
				<span  >{$ attribute$}</span>
			</th>
		</tr>

		<!--Row with the new item-->
		<tr ng-show="addMode" style="background: rgb(251, 244, 222)">
			<td></td>
			<!--Buttons column-->
			<td>
				<div class="btn-toolbar">
					<!--Create + Cancel-->
					<div class="btn-group">
						<i class="btn glyphicon glyphicon-floppy-disk" ng-click="createItem(true)" title="Create" ng-disabled="isFormInvalid(pcBase)"></i>
						<i class="btn glyphicon glyphicon-remove" ng-click="toggleAddMode()" title="Cancel"></i>
					</div>
				</div>
			</td>
			<!-- Content columns-->

			<td ng-repeat="attribute in pcBase.attributesExcept([ '_selected','order'])">
				<slider ng-if="pcBase.isSlider(attribute)" slideritem ng-model="pcBase[attribute]" min="0" max="10" step="1"
				        value=" "   ng-disabled="fieldDisabled(pcBase,attribute)"  id="tx_enable_per_sec" class="form-control" />

				<span  ng-if="pcBase.isDropdown(attribute)">
					<select  ng-model="pcBase[attribute]" class="form-control"  ng-change="changeValue(attribute,pcBase,true)" required placeholder="{$ attribute $}..." ng-keydown="saveOnEnter(pcBase, $event)"  ng-options="item.value as item.label for item in pcBase.listForAttr(attribute, true)"  ng-disabled="fieldDisabled(pcBase,attribute)" ></select>
				</span>
				<span class="multifield" ng-if="!pcBase.isDropdown(attribute) && !pcBase.isSlider(attribute)" >
					<input type="text" ng-model="pcBase[attribute]" id="{$ attribute $}_input" class="form-control" required placeholder="{$ attribute $}" ng-keydown="saveOnEnter(knownItem, $event)" required  ng-disabled="fieldDisabled(pcBase,attribute)"/>
					<label for="{$ attribute $}_input">{$ tooltip[attribute]$}</label>
				</span>

			</td>
		</tr>

		<!--Content-->
		<tr ng-repeat="knownItem in knownItems">
			<!-- checkbox item -->
			<td>
				<div class="">
					<input type="checkbox" icheck ng-model="knownItem._selected" id="select-" />
				</div>
			</td>
			<!--Buttons column-->
			<td>
				<!--Edit + Delete-->
				<div class="btn-toolbar" ng-show="knownItem.editMode == null || knownItem.editMode == false">
					<div class="btn-group">
						<i class="btn glyphicon glyphicon-edit" ng-click="toggleEditMode(knownItem)" title="Edit"></i>
						<i class="btn glyphicon glyphicon-trash" ng-click="deleteItem(knownItem)" title="Delete" data-toggle="modal"></i>

						<i class="btn glyphicon glyphicon-chevron-up" ng-click="reorder(knownItem,-1)" title="Order up"  ></i>
						<i class="btn glyphicon glyphicon-chevron-down" ng-click="reorder(knownItem,1)" title="Order down"  ></i>

					</div>
				</div>

				<!--Save + Cancel-->
				<div class="btn-toolbar" ng-show="knownItem.editMode">
					<div class="btn-group">
						<i class="btn glyphicon glyphicon-floppy-disk" ng-click="updateItem(knownItem)" title="Save" ng-disabled="isFormInvalid(knownItem)" ></i>
						<i class="btn glyphicon glyphicon-remove" ng-click="toggleEditMode(knownItem)" title="Cancel"></i>
					</div>
				</div>
			</td>

			<!-- Content columns-->
			<form>
			<td style="vertical-align:middle" ng-repeat="attribute in knownItem.attributesExcept(['_selected', 'order'])">
				<!--Name read mode-->
                <span ng-show="knownItem.editMode == null || knownItem.editMode == false || attribute=='index'" ng-dblclick="toggleEditMode(knownItem)">
	                <span ng-if="knownItem.isDropdown(attribute)">{$ knownItem.getLabel(attribute) $}</span>
	                <span ng-if="!knownItem.isDropdown(attribute)">{$ knownItem[attribute] $}</span>
                </span>
				<!--Name edit mode-->
				<span   ng-show="knownItem.editMode && attribute!='index'">
					<slider ng-if="knownItem.isSlider(attribute)" slideritem ng-model="knownItem[attribute]" min="0" max="10" step="1"
					        value=" " ng-disabled="fieldDisabled(knownItem,attribute)"  id="tx_enable_per_sec" class="form-control" />

					<select ng-if="knownItem.isDropdown(attribute)" ng-model="knownItem[attribute]" class="form-control"  placeholder="{$ attribute $}..." ng-keydown="updateOnEnter(knownItem, $event)"  ng-change="changeValue(attribute,knownItem,false)"  ng-disabled="fieldDisabled(knownItem,attribute)" required  ng-options="item.value as item.label for item in knownItem.listForAttr(attribute, true)" >
					</select>
					<span class="multifield" ng-if="!knownItem.isDropdown(attribute) && !knownItem.isSlider(attribute)" >
						<input id="{$ attribute $}_input"  ng-model="knownItem[attribute]" required ng-keydown="updateOnEnter(knownItem, $event)" class="form-control"  ng-disabled="fieldDisabled(knownItem,attribute)" />
						<label for="{$ attribute $}_input">{$ tooltip[attribute]$}</label>

					</span>
				</span>
				<span ng-if="attribute=='index'">
					<input type="hidden" name="index" value="{$ knownItem['index']$}" />
 				</span>
			</td>
			
			</form>
		</tr>
	</table>

	<!--Loading indicator-->
	<img src="/static/css/loading.gif" ng-show="loading" class="center-block" title="Loading..." />
	</div>
</div>
<div class="row" ng-if="modified">
	<div class="col-md-4 col-md-offset-4 center">
		<button class="btn btn-primary center-block glyphicon glyphicon-floppy-disk"  ng-click="saveAllItems()">&nbsp; Save All Data</button>
	</div>
</div>